@charset "UTF-8";
.grid-container  {
  display: grid;
  grid-gap: 5px; 
  grid-template-columns: auto auto auto auto;
  padding: 5px; 
  background-color: #83d5dcb3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(198, 234, 231, 0.84);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
#wrapper{
	font-size: 20px;
}
#header{
    grid-column-start: 1;
    grid-column-end: 5;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 5;
}
