@charset "UTF-8";


#left {
    grid-column-start: 1;
    grid-column-end: 3;
}
#center {
    grid-column-start: 3;
    grid-column-end: 5;
}
#right {
    grid-column-start: 5;
    grid-column-end: 7;
}